@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;600');

:root {
    /* Variables */
    --clair: white;
    --fonce: #212121;
    --s: #17456B;
    --p: #0F1D2B;
    --t: #FFB000;
    --q: #F24E1E;
    --v: rgb(10, 159, 10);
    --r: red;
    --w: 75px;
    --head:75px;
}

html,
body {
    padding: 0;
    margin: 0;
    font-variation-settings: 'wght' 400;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-size: 14px;
}

body {
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    transition: all .3s ease;
}

body> * {
    padding: 0;
    margin: 0;
    /* display: flex; */
    height: 100vh;
    border-right: 1px solid var(--t);
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}
h2,
h3, h4 {
    font-variation-settings: 'wght' 400;
    font-weight: 400;
    text-transform: uppercase;
}
h1 {
    font-variation-settings: 'wght' 100;
    font-weight: 100;
}

h1 {
    font-size: 32px;
    width: 100%;
    text-align: center;
}

h2 {
    font-size: 26px;
    width: 100%;
    font-weight: bold;
    text-align: center;
}

h3 {
    font-size: 21px;
    margin: 0 5px;
    text-align: center;
}

section {
    display: flex;
}

body>aside {
    width: var(--w);
    display: flex;
    flex-flow: column nowrap;
    /* overflow-x: hidden;
    overflow-y: auto; */
}

body>main>section {
    padding: 0;
    margin: 0;
}
body>main {
    display: flex;
    flex-flow: column nowrap;
    width: calc(100vw - var(--w));
    transition: width .3s ease;
}
body>main>header{
    width:100%;
    display:flex;
    flex-flow: column nowrap;
    transition:all .3s ease;
    /* height: var(--head); */
    padding:0 10px;
}
body>main>header.open{
    margin-top:0;
}
body>main>header>a {
    width: calc(100vw - 40px);
}
body>main>header img {
    width: 200px;
}
body>main>header>article{
    display:flex;
    flex-flow: row nowrap;
    padding : 0;
    width:calc(100vw - var(--w));
    justify-content: space-between;
}
body>main>header>article>*{
    text-align: center;
    display:flex;
    flex-direction:row;
    border-right: 1px solid var(--fonce);
    padding:0 20px;
}
body>main>header>article>a.search{
    position:absolute;
    left: calc(100vw - var(--w) / 2);
    top:0;
    z-index:10;
    width: 50px;
    height:auto;
    background-color: var(--clair);
    display:flex;
}
body>main>header>article>a.search>svg{
    margin:auto;
    padding:5px;
}

#vues{
    justify-content: space-around;
}
#vues>a{
    margin:auto 10px;
}
#vues>a:hover{
    transform:scale(1.2);
}
#vues img{
    width:20px;
}
body>main>section {
    flex-flow: column nowrap;
    height: 100%;
    background-color: var(--clair);
}

article {
    display: flex;
}

a {
    color: green;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s ease;
}

em {
    font-size: .9em;
}


/* NAVIGATION PRINCIPALE */
aside>section {
    justify-content: space-around;
    width: 100%;
    height: calc(100vh - var(--w));
}

aside>header {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: var(--w);
}

aside>section>nav {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
}

aside>section>nav a img,
aside>section>nav a svg {
    width: 50%;
}

aside>section>nav a {
    margin: 15px auto;
    text-align: center;
    /* position:relative; */
}

aside>section>nav>span {
    position: absolute;
    padding: 10px 16px;
    background-color: var(--s);
    color: var(--clair);
    opacity: 0;
    width: 0;
    margin-left: 15px;
    font-size: 12px;
    z-index: 10;
}

aside>section>nav section {
    position: absolute;
    top: 0;
    left: var(--w);
    z-index: 999;
    border-left: 1px solid var(--t);
    border-right: 1px solid var(--t);
    height: 100vh;
    width: 0;
    opacity: 0;
    transition: all .4s ease;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--clair);
    color:var(--fonce);
    pointer-events: none;
}

aside>section>nav section article {
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 10px;
    flex-flow: column nowrap;
}

aside nav a:hover {
    transform: scale(1.2);
}

aside nav a:hover .cls-2 {
    fill: var(--t);
}

aside>section>nav a:hover+section,
aside>section>nav a+section:hover {
    width: 20vw;
    min-width:250px;
    opacity: 1;
    pointer-events: all;
}

aside>section>nav a:hover span {
    width: max-content;
    opacity: 1;
}

.cls-1 {
    fill: var(--clair);
}

.cls-2 {
    fill: var(--s);
    transition: fill .3s ease;
}

#collections>article hr {
    width: 40%;
    margin: 0 -10px 10px;
    border: none;
    border-top: 1px solid var(--t);
    align-self: flex-end;
}

#collections>article hr:first-child {
    align-self: flex-start;
}

#collections>article:first-child {
    float: none;
}

#collections>article div {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    padding: 0 10px;
}

#collections>article div>a {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
}

#collections a>p {
    font-size: 11px;
}

#collections a {
    margin: 5px;
}

#collections a>img {
    width: auto;
    height: 100%;
}

aside>footer {
    height: max-content;
    padding: 0 8px;
    width: 100%;
    align-items: flex-end;
}

aside>footer>nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

aside>footer>nav>a {
    padding: 3px;
    width: auto;
    height: auto;
}
aside>footer>nav>a>img {
    width:100%;
}
aside>footer svg {
    width: 100%;
}

nav>ul>li {
    width: 100%;
    list-style: none;
    margin: 10px;
    padding: 6px 12px;
    border-bottom: 1px dashed black;
    transition: all .3s ease;
}

nav>ul>li:hover {
    background-color: rgba(255, 255, 0, .6);
    color: black;
}

nav>ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column wrap;
    overflow: hidden;
    overflow-y: auto;
}

nav a {
    text-transform: uppercase;
    display: block;
}

aside>input {
    margin: 10px auto 40px;
    opacity: 1;
}

/* CLASSES GENERIQUES */

.logo {
    width: var(--w);
    margin: 10px 0;
    display: flex;
    justify-content: flex-end;
}

.logo>img {
    max-width: 80%;
    margin: 0;
}

section>header {
    min-height: 60px;
    height: auto;
    margin-bottom: 30px;
}

header>h1 {
    display: block;
    margin: 0;
    padding: 20px 0 10px;
}

/* i {
    float: right;
    margin: 20px;
    cursor: pointer;
} */
.fa-regular{
    font-size:40px;
    color: var(--p);
}
form {
    display: flex;
    flex-flow: column nowrap;
}

fieldset {
    border: none;
    display: flex;
    flex-flow: column nowrap;
    margin: 10px 0;
    /* width:100%; */
}

form>div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
label{
    margin:5px 0;
}
input {
    transition: all .3s ease;
    border: 1px solid yellowgreen;
    border-bottom: 1px solid black;
    padding: 10px 16px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}
select {
    transition: all .3s ease;
    border: 1px solid yellowgreen;
    border-bottom: 1px solid black;
    padding: 10px 16px;
    font-family: 'Raleway', sans-serif;
}
#recherche input[type=text], #recherche select{
    width:100%;
}
#recherche form span{
    width:100%;
    font-style: italic;
    font-size: small;
    margin:5px;
    text-align: center;
}
input[type=submit] {
    border: none;
    background-color: var(--v);
    color: white;
    transition: all .3s ease;
    text-transform: uppercase;
}

input[type=reset] {
    border: none;
    background-color: var(--t);
    color: white;
    transition: all .3s ease;
    text-transform: uppercase;
}

input[type=submit]:hover {
    background-color: var(--p);
}

input[type=reset]:hover {
    background-color: var(--p);
}

input[type=checkbox],
input[type=radio] {
    margin: 0 5px;
}

/* NOTICES */

.notices {
    flex-flow: column nowrap;
    /* width: calc(100vw - var(--w)); */
    overflow-y: auto;
    overflow-x: hidden;
}

.notices>header {
    background-color: black;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px 20px;
    margin-bottom: 0;
}

.notices>header>h1,
.notices>header>div>h2 {
    margin: 0;
    padding: 20px 0 10px;
    width: auto;
}

.notices>header>div {
    display: flex;
    flex-flow: row nowrap;
    width: 50%;
}

.notices>section {
    display: flex;
    flex-flow: row wrap;
}

.notices article {
    display: flex;
    flex-flow: column nowrap;
    min-height: 200px;
    width: 50%;
    transition: all .3s ease;
    position: relative;
    overflow:hidden;
    color:var(--clair);
}
.notices article figure {
    width:100%;
    height: 100%;
    min-height:200px;
    margin:0;
    padding:0;
    background: 50% no-repeat;
    background-size: 100%;
    transition: all .3s ease;
}
.notices article div {
    width:100%;
    height: 100%;
    min-height:200px;
    margin:0;
    padding:0;
    position:absolute;
}
.notices a>video,
.notices a>audio {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
    transition: all .3s ease;
}
.notices a {
    display: flex;
    background: 50% no-repeat;
    background-size: 100%;
    transition: all .3s ease;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.notices article:hover > figure {
    background-size: 120%;
}
.notices a > p {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    z-index: 20;
    transition: opacity .3s ease;
    margin: 0;
    padding: 0;
}
.notices a > p > span {
    display: flex;
    margin: auto;
    padding: 20px 25px;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15%;
}
.notices a:hover > p {
    opacity: 1;
}
.notices a:hover>video,
.notices a:hover>audio {
    transform: scale(1.2);
}

.notices article > div > p {
    text-shadow: 0px 1px 3px black;
    padding: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 10;
    pointer-events: none;
    width:100%;
    transition:all .3s ease;
    margin:0;
    margin-bottom:-20px;
    padding:0px 10px 10px;
}
.notices article > div > p > h4 {
    text-align: left;
    font-variation-settings: 'wght' 600;
    transition:all .3s ease;
}
.notices article:hover > div > p {
    background-color: rgba(0,0,0,.7);
    margin-bottom:0;
    margin-top:0;
}
.notices article:hover > div > p > h4 {
    margin-bottom:10px;
}
/* COLLECTIONS */

.collection {
    border-right: dashed black 1px;
}

.collection>header {
    margin-bottom: 30px;
}

.collection>section {
    padding: 10px 30px;
}
/* FILTRES ET SERIES */
#filtres{
    display:flex;
    flex-flow:column nowrap;
}
#filtes h1, #filtres h2{
    width:100%;
    text-align: center;
    margin:0;
}
#filtes h1 > em, #filtres h2 > em{
    font-size:70%;
}
#filtres ul.series{
    display:flex;
    flex-flow:row wrap;
}
#filtres select{
    width:fit-content;
    margin:10px auto;
    display:none;
}
#filtres .accordeon{
    width:max-content;
    background-color: var(--t);
    border-radius: 5px;
    color:var(--clair);
    margin:auto;
}
#filtres .accordeon:after{
    color:var(--clair);
}
#filtres .panneau{
    padding:0;
    margin:0 auto;
    display:flex;
    justify-content: center;
}
.series button {
    background-color: yellow;
    padding: 8px 12px;
    margin: 0 5px;
    color: black;
    transition: background-color .3s ease;
}
.series button:hover {
    background-color: yellowgreen;
}
.series {
    display:flex;
    flex-flow:row wrap;
}
.series > li {
    list-style: none;
    background-color: var(--t);
    color:var(--clair);
    border-radius: 5%;
    width:max-content;
    transition: all .3s ease;
    padding:4px 8px;
    margin:5px;
    cursor: pointer;
}
.series > li:hover {
    background-color: var(--s);
}
/* NOTICE */
#notice {
    visibility: hidden;
    position: absolute;
    left: 100vw;
    width: calc(100vw - var(--w));
    height: calc(100vh - 50px);
    top: 60px;
    background-color: rgb(255, 255, 255);
    transition: all .3s ease;
    z-index: 100;
    overflow:hidden;
    color:var(--fonce);
}
#notice>div{
    overflow-x: hidden;
    /* width:auto; */
    position:absolute;
    left:0;
    display: flex;
    flex-flow:row nowrap;
    transition:all .3s ease;
    padding-left:40px;
    padding-right:80px;
    height:100%;
}
.notice{
    display: flex;
    flex-flow:row nowrap;
    width : calc(100vw - var(--w) - 120px);
    height:100%;
    margin-right:120px;
    overflow-x:hidden;
}
.notice h1 {
    margin: 20px 0 10px;
}

.notice>i {
    position: absolute;
    z-index: 110;
}

.notice>i>img {
    color: white;
    /* box-shadow: 0px 0px 4px black; */
    filter: drop-shadow(0px 0px 3px black);
}
.notice>section {
    display: flex;
    flex-flow: column nowrap;
}

.notice>section>article {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.notice #media {
    padding: 20px;
    border-right: black dashed 1px;
    width: 70%;
    position: relative;
}

.notice .fleche {
    position: absolute;
    top: calc(50% - 40px);
    background-color: white;
    width: 30px;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    border: 0;
    transition: all .3s ease;
    z-index: 511;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 0px 3px black;
}

.fleche img {
    width: 100%;
    height: 100%;
}
/* ARTICLE DU MEDIA */

.notice #media>article:nth-child(1) {
    padding: 0;
    text-align: center;
}

.notice #media video,
.notice #media audio {
    max-width: 100%;
}

.notice iframe {
    width: 100%;
    height: 700px;
}

.notice #donnees {
    padding: 20px;
    width: 30%;
    flex-flow:column nowrap;
}
.notice #donnees blockquote{
    margin:20px 0;
}
.notice #donnees>article {
    padding: 0;
    width:100%;
}
/* DIVERS */
.lazy {
    background-image: none !important;
}
.metas {
    height: auto;
    width: 100%;
}
.b{
    font-variation-settings: 'wght' 600;
}
img.media {
    max-width: 100%;
}

video.media {
    max-width: 100%;
}

audio.media {
    max-width: 100%;
}

.icone {
    width: 24px;
    height: 24px;
    margin: auto;
    transition: transform .3s ease;
}
.icone:hover {
    transform: rotate(30deg);
}

.noir {
    transition: all .3s ease;
    background-color: black;
    color: white;
}

.noir:hover {
    background-color: #363636;
}

.vu {
    left: var(--w) !important;
    visibility: visible !important;
}

.visible {
    visibility: visible;
}

.invisible {
    visibility: hidden;
    margin-bottom: 0;
    opacity: 0;
    transition: all .3s ease;
}
.actif{
    background-color: var(--s) !important;
    color: var(--clair) !important;
}
.actif:after{
    content:'+';
}
.ouvert {
    width: 40vw;
}

.sequence {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: auto;
    padding: 2px 10px;
}

.sequence>span:nth-child(1),
.sequence>span:nth-child(3) {
    width: 10%;
}

.sequence>span:nth-child(2) {
    width: 80%;
}
/* MENU BURGER */
.burger {
    display: none;
    cursor: pointer;
    border: none;
    width: 30px;
    height: 38px;
    margin: 12px;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: rgb(146, 17, 92);
    margin: 6px 0;
    transition: 0.4s;
}
.croix {}
.croix .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: yellowgreen;
}
.croix .bar2 {
    opacity: 0;
}
.croix .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -6px);
    transform: rotate(45deg) translate(-6px, -6px);
    background-color: yellowgreen;
}
/* Créer des fléches */
.arrow {
    position:absolute;
    z-index:2000;
    top:50%;
    transform:translate(-50%);
    border: solid var(--t);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    width:30px;
    height:30px;
    transition: all .3s ease;
}
.arrow:hover{
    border-color:var(--s);
}
.arrowright {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 10px;
}
.arrowleft {
    left: 10px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.arrowright:hover {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    right: 5px;
}
.arrowleft:hover {
    left: 5px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
/* Croix de fermeture */
.close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 32px;
    height: 32px;
    opacity: 0.8;
    z-index: 1002;
    background-color: var(--clair);
}
.close:hover {
    opacity: 1;
    transform: rotate(90deg);
}
.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: var(--t);
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

/* ACCORDEON CLASSIQUE */

.accordeon {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position:relative;
    text-transform: uppercase;
}
.active,
.accordeon:hover {
    background-color: #ccc;
}
.accordeon:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 10px;
}

.active:after {
    content: "\2212";
}

.panneau {
    padding: 0 16px 0 32px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* TEMPLATE */
.contraste, .contraste .notices{
    background-color: var(--fonce);
    color:var(--clair);
}
.lignes{
    /* flex-flow:row wrap !important; */
    justify-content: space-around;
    /* width: calc(100vw - var(--w)); */
}
.lignes > article{
    width:45% !important;
    background-color: var(--clair);
    color: var(--fonce);
    flex-flow:row nowrap;
    padding:15px;
    color:var(--fonce);
    cursor: pointer;
    margin:10px;
    border-bottom: 1px solid var(--fonce);
}
.lignes > article > figure{
    width:40% !important;
}
.lignes > article > div{
    position: relative;
    width:60% !important;
}
.lignes > article > div > p{
    position:relative !important;
    text-shadow: none;
}
.lignes > article > div > a{
    display:none;
}
.lignes > article:hover > div > p{
    background: none;
}
/* MEDIA QUERIES */
@media (max-width: 960px) {
    body {
        flex-flow:column nowrap;
    }
    body>main {
        width: 100vw;
    }
    body>aside {
        width: 100vw;
        flex-flow:row nowrap;
        justify-content: space-between;
        padding-right:25px;
        max-height:75px;
    }
    body>aside>header {
        width: 75px;
    }
    body>aside>section {
        height:auto;
        width:50%;
    }
    body>aside>section>nav {
        flex-flow:row nowrap;
    }
    aside>section>nav a img{
        max-height: 80px;
    }
    body>aside>footer{
        position:absolute;
        bottom:0;
        /* justify-content: flex-end; */
        z-index:100;
    }
    body>aside>footer>nav{
        margin-left:auto;
        justify-content: flex-end;
    }
    body>aside>footer>nav>*{
        width:35px;
        padding:0 10px;
    }
    body>main{
        height:calc(100vh - var(--w));
    }
    body>main>header {
        margin-top: 0px;
        max-height:120px;
    }
    body>main>section:nth-child(1),
    body>main>section:nth-child(2) {
        width: 100vw;
    }
    body>main>header>article {
        /* flex-flow: column nowrap; */
        width:100vw;
        padding-right:20px;
    }
    body>main>header>article>* {
        padding:0;
        border:0;
    }
    body>main>header>article > div:nth-child(1) {
        display: none;
    }
    body>main>header>article > div:nth-child(2) {
        width:calc(100vw - 30px);
    }
    body>main>header>article > nav {
        width:30px
    }
    #notice {
        width: 100vw;
        display: flex;
        flex-flow: column nowrap;
        top:0;
    }
    #notice>div{
        padding:0;
    }
    .notices,
    .notices>header,
    .notices>section {
        width: 100vw;
    }
    #filtres ul.series{
        display:none;
    }
    #filtres select{
        display:block;
    }
    .notice, .notice>section{
        flex-flow: column nowrap;
        width:100vw;
        margin-right:0;
    }
    .notice #media,
    .notice #donnees {
        width: 100vw;
        height: auto;
        padding: 0 20px;
        border-right: 0;
    }
    .notices>section>article {
        width: 50%;
    }
    .notice .fleche.droite {
        right: 0;
    }
    .lignes > article {
        width:100vw !important;
    }
    #vues{
        flex-direction: column;
    }
    .vu {
        left: 0 !important;
    }
    .burger {
        /* display: inline-block; */
    }
}

#loader{
    position:absolute;
    z-index:199;
    top:0;
    left:var(--w);
    width:calc(100vw - var(--w));
    height:100vh;
    display:none;
    background-color: rgba(255,255,255,0.5);
}
#loader > img {
    width:150px;
    margin:auto;
}
/* MEDIA QUERIES */

@media screen and (min-width: 1000px) and (max-width: 1400px) {
    .notices>section>article {
        width: 33.33%;
    }
    .lignes > article{
        width:45% !important;
    }
}

@media screen and (min-width: 1401px) and (max-width: 1700px) {
    .notices>section>article {
        width: 25%;
    }
    .lignes > article{
        width:45% !important;
    }
}

@media screen and (min-width: 1701px) {
    .notices>section>article {
        width: 20%;
    }
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: yellow;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: yellowgreen;
}