/* GLOBAL VARIABLES */
:root {
    /* Variables */
    --clair: white;
    --fonce: #212121;
    --s: #17456B;
    --p: #0F1D2B;
    --t: #FFB000;
    --q: #F24E1E;
    --v: rgb(10, 159, 10);
    --r: red;
    --w: 75px;
    --head:75px;
}
* {
    box-sizing: border-box;
}
/* NOTICE */
.notice{
    display: flex;
    flex-flow:row nowrap;
    width : calc(100vw - var(--w) - 120px);
    height:100vh;
    margin-right:120px;
    overflow-x:hidden;
    touch-action: pan-left;
}
.notice h1 {
    margin: 20px 0 10px;
    font-weight: bold;
}

.notice>i {
    position: absolute;
    z-index: 110;
}

.notice>i>img {
    color: white;
    /* box-shadow: 0px 0px 4px black; */
    filter: drop-shadow(0px 0px 3px black);
}
.notice>section {
    display: flex;
    flex-flow: column nowrap;
}

.notice>section>article {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.notice #media {
    padding: 20px;
    border-right: black dashed 1px;
    width: 70%;
    position: relative;
}

.notice .fleche {
    position: absolute;
    top: calc(50% - 40px);
    background-color: white;
    width: 30px;
    height: 40px;
    font-size: 40px;
    font-weight: bold;
    border: 0;
    transition: all .3s ease;
    z-index: 511;
    padding: 10px;
    cursor: pointer;
    box-shadow: 1px 0px 3px black;
}

.fleche img {
    width: 100%;
    height: 100%;
}
/* ARTICLE DU MEDIA */

.notice #media>article:nth-child(1) {
    padding: 0;
    text-align: center;
}

.notice #media video,
.notice #media audio {
    max-width: 100%;
}
.notice iframe {
    width: 100%;
    height: 700px;
}
.notice #donnees {
    padding: 20px;
    width: 30%;
    flex-flow:column nowrap;
}
.notice #donnees blockquote{
    margin:20px 0;
}
.notice #donnees>article {
    padding: 0;
    width:100%;
}
.notice #donnees>article > * {
    width:100%;
}
/* ACCORDEON CLASSIQUE */
.accordeon {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    position:relative;
    text-transform: uppercase;
}
.active,
.accordeon:hover {
    background-color: #ccc;
}
.accordeon:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 10px;
}

.active:after {
    content: "\2212";
}
.panneau {
    padding: 0 16px 0 32px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
/* SEQUENCES FOR MEDIAS */

.sequence {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: auto;
    padding: 2px 10px;
}

.sequence>span:nth-child(1),
.sequence>span:nth-child(3) {
    width: 10%;
}

.sequence>span:nth-child(2) {
    width: 80%;
}


/* MEDIA QUERIES */
@media (max-width: 940px) {
    .notice{
        width:100vw;
        flex-direction : column;
        margin-right:0;
    }
    .notice > section{
        width:100%;
    }
    .notice .media{
        width:100%;
        margin:0;
    }
    .notice #donnees{
        padding:0 35px;
        width:100%;
    }
}